header {
    padding: 11px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    font-family: 'Roboto Slab';
    transition: all 1s ease;

    .logo {

        display: none;

        &-white {
            display: block;

            img {
                width: auto;
                height: 30px;
            }
        }
    }

    .menu-mobile {

        &.collapsing,
        &.show {
            text-align: center;
        }

        ul li a {
            font-size: 18px;
            color: #00BFC8;
        }
    }

    .menu-desktop {
        li {
            margin: 0 10px;

            a {
                font-size: 18px;
                color: white;
                border-bottom: 1px solid transparent;

                &:hover {
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }



    &.style-mobile {
        background-color: white;

        .logo {
            img {
                width: auto;
                height: 30px;
            }

            &-color {
                display: block;
            }

            &-white {
                display: none;
            }
        }

        .navbar {
            .navbar-toggler {
                padding: 0;

                i {
                    color: #00BFC8;
                }
            }
        }
        .navbar-nav {
            margin-top: 10px;
        }
    }

    &.style-scrolled {
        background-color: white;
        box-shadow: 0 0 7px 1px rgba(0, 0, 0, .1);

        .navbar {
            .navbar-toggler {
                padding: 0;

                i {
                    color: #00BFC8;
                }
            }
        }

        .menu-desktop {
            a {
                color: #00BFC8;
                font-size: 18px;
                border-bottom: 1px solid transparent;

                &:hover {
                    border-bottom: 1px solid #00BFC8;
                }
            }
        }

        .logo {
            &-color {
                display: block;

                img {
                    width: auto;
                    height: 30px;
                }
            }

            &-white {
                display: none;
            }
        }
    }

    .navbar {
        margin-right: 0;
        padding: 0;

        .navbar-toggler {
            padding: 0;

            i {
                color: white;
                font-size: 30px;
            }
        }
    }


}